.wrapper{
    padding: 30px;
    border-radius: 30px;
    background-color: rgb(116, 207, 59);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

h2{
    margin-top: 10px;
}

input, #farbpicker-wrapper{
    width: calc(100% - 20px);
    font-family: 18px;
    padding: 10px;
    border: 0;
    height: 30px;
    border-radius: 5px;
    margin: 0;
}

input[type="color"] {
	opacity: 0;
	display: block;
	border: none;
}

#farbpicker-wrapper {
	float: left;
}

.attribute{
    margin-bottom: 10px;
}

input[type="submit"]{
    margin-top: 10px;
    width: 100%;
}