body{
    /* background-color: rgb(36, 36, 36); */
    background-color: white;
    font-family: Rajdhani;
}

.header{
    width: 100vw;
    text-align: center;
    height: 70px;
    color: white;
    font-size: 36px;
    font-family: Rajdhani;
    background-color: rgb(245, 188, 31);
    margin-bottom: 30px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}

.wrapper{
    width: 80%;
    padding: 0 10% 0 10%;
    display: grid;
    grid-template-columns: repeat(3, minmax(0,1fr));
    gap: 40px;
}

.festival{
    display: grid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* border-radius: 10px; */
    overflow: hidden;
    grid-template-rows: 33% 33% 33%;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
    "name name" 
    "ort preis" 
    "datum erstellungsdatum";
    height: 300px;
    padding: 0 30px 0 30px;
}

.festival div{
    display: flex;
    align-items: center;
}

.festival div img{
    margin-right: 10px;
}

.name{
    grid-area: name;
    text-align: center;
    justify-content: center;
    font-size: 28px;
}

.ort{
    grid-area: ort;
    font-size: 20px;
}

.preis{
    grid-area: preis;
    font-size: 20px;
}

.datum{
    grid-area: datum;
    font-size: 20px;
}

.erstellungsdatum{
    grid-area: erstellungsdatum;
    font-size: 20px;
}